
.example-spacer {
    flex: 1 1 auto;
  }
  .bg-color{
    background-color: #262627e1;
  }
  ::ng-deep.mat-menu-panel {
    max-width: none !important;
  }
  ::ng-deep.bg-settings{
    background-color: rgba(0, 0, 0, 0.514);
    border-radius: 24px !important;
  }
  .settingCard{
    background-color: rgba(36, 36, 41, 0.747);
    border-radius: 20px;
    box-shadow: 0 1px 5px rgb(0 0 0 / 5%);
    cursor: pointer;
    height: 155px;
    padding: 20px 15px;
    width: 155px;
    margin:0 4px;
  }
  .grid1{
    background-image: linear-gradient(#f3eaea00, #d5d5d021, #f3eaea00);
  }
  .highlight{
    color:#27ecfe;
  }
  .fsThick{
    font-size: 56px;
    line-height: 1.12;
    font-weight: 700;
  }
  .fs21{
    font-size: 21px;
  }
  .action-btn{
    color: white;
    padding:4px 22px;
    background:linear-gradient(to right, #4d4c4c, #181818);
  }
  .card1{
    background-color: #393a3bce;
    border-radius: 18px;
    border:none;
    padding:2rem;
  }
  #searchBar{
    background-color: transparent;
  }